.WaitingRoom {
  padding: 50px;
}
.WaitingRoom-Code {
    background: #183f69;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    max-width: 320px;
    text-align: center;
    margin: auto;
  }