.GameBoard {
    color: black;
    height: 100vh;
    padding-top: 2em;
    text-align: center;
    margin: auto;
}
.GameBoard-Row1{
    display: flex;
    height: 200px;
    align-items: flex-end;
}
.GameBoard-Row3{
    display: flex;
    height: 200px;
    align-items: flex-start;
}
.GameBoard-Col {
    width: 111px;
    display: flex;
    flex-wrap: wrap;
}
.GameBoard-Row2 {
    display: flex;
    margin-left: -36px;
}
.GameBoard-Row2>.GameBoard-Col {
    width: 222px;
}
.GameBoard-Col>div {
    height: 35px;
    width: 35px;
    border: 1px solid black;
}

.GameBoard-ColorHouse {
    width: 186px;
    height:186px;
    display: flex;

}

.GameBoard-Red {
    border-top-left-radius: 25px
}

.GameBoard-Yellow {
    border-top-right-radius: 25px;
}

.GameBoard-Green {
    border-bottom-left-radius: 25px
}

.GameBoard-Blue {
    border-bottom-right-radius: 25px
}

.yellow, .GameBoard-Yellow, #top {
    background-color: #f0c830;
}
.green, .GameBoard-Green, #bottom {
    background-color: #7d8e14;
}
.red, .GameBoard-Red, #left {
    background-color: #b34121;
}
.blue, .GameBoard-Blue, #right {
    background-color: #0152a8;
}


.GameBoard-Center {
        position: relative;
        height: 111px;
        width: 111px;
        overflow: hidden;
        transition: all 1s;
    }
    #top, #left, #right, #bottom {
        border: 1px solid black;
        position: absolute;
        height: calc(100% / 1.414);
        width: calc(100% / 1.414);
        top: 50%;
        left: 50%;
        transform-origin: 0% 0%;
      }
      #right {
        transform: rotate(-45deg);
      }
      #bottom {
        transform: rotate(45deg);
      }
      #top {
        transform: rotate(-135deg);
      }
      #left {
        transform: rotate(135deg);
      }

    .piece {
        width: 40;
        height: 40;
        margin: 5;
        border-radius: 50%;
        background-color: grey;
        opacity: 0.85;
        border: 1px dashed grey;
        cursor: pointer;
    }

    .House-Pieces {
        width: 84px;
        height: 84px;
        display: flex;
        flex-wrap: wrap;
    }