.GameSet {
    color: black;
    padding: 1em;
    background-color: gainsboro;
    margin: auto;
}
.GameSet-players {
    text-align: left;
}
.Player-List {
    text-align: left;
    list-style: none;
}


.GameSet-players-color {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    opacity: 0.85;
    cursor: pointer;
};


@media screen and (max-width: 1030px) {
    .GameSet {
        width: 100%;
    }
    
}