.App {
  text-align: center;
  margin: 0;
  color: #0152a8;
}

button {
  background: #f0c830;
  color: black;
  padding: 30px 30px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid black;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  outline: none;
}

/* input {
  padding: 30px;
  font-size: 15px;
  outline: none;
  margin: 40px 0 10px;
} */
input {
  padding: 20px;
  font-size: 15px;
  outline: none;
  margin: 10px 0 10px;
}

