.Piece {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
  }
.Piece-color:hover {
  opacity: 0.5;
}
.Piece-color {
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    border: 5px solid white;
    cursor: pointer;
}